
header{
    margin-bottom: 0;
    background-color:#eee;
}
.brand-title{
    font-family: fontawesome;
    letter-spacing: 3px;
}

.active a{
    background-color: #6DE7F6 !important;
    border-color: grey !important ;
}
.btn{
    background-color: #6DE7F6 !important ;
    color: #0f0f0f !important


    }
.panel-heading {
    background-color: #6DE7F6 !important;
    color: #0f0f0f !important;
    border: none !important;
}
.panel-primary{
    border-color: grey !important ;
}
footer{
    background-color: #f2f2f2;

}
#navContainer{
    border-top: 6px solid #6DE7F6;

}
.doctor{
    color: #0282F5;
}
.left-text{
    font-family: monospace;
}

a{
    color: black !important;
    text-decoration: none !important;
}

a:hover{
    color: #0282F5 !important;
    text-decoration: none !important;
}
footer{
    border-top: 6px solid #6DE7F6;

}